# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast/*
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Coverage
report

# Dotenv file
.env

# Certora
.certora_internal 

# Coverage 
report
lcov.info

# vscode
.vscode/
.DS_Store
node_modules