[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.24"
cbor_metadata = true
ffi = true
optimizer = true
optimizer_runs = 3000
evm_version = "cancun"
ast = true
build_info = true
extra_output = ["storageLayout"]
gas_reports = ["*"]
fs_permissions = [{ access = "read-write", path = "./" }]

[rpc_endpoints]
mainnet = "${MAINNET_RPC}"
sepolia = "${SEPOLIA_RPC}"
scroll = "${SCROLL_RPC}"
base = "${BASE_RPC}"
fi_sepolia = "${FI_SEPOLIA_RPC}"
arbitrum_sepolia = "${ARBITRUM_SEPOLIA_RPC}"

[etherscan]
mainnet = { key = "${MAINNET_ETHERSCAN_KEY}" }
sepolia = { key = "${MAINNET_ETHERSCAN_KEY}" }
scroll = { key = "${SCROLLSCAN_KEY}" }
base = { key = "${BASESCAN_KEY}" }
fi_sepolia = { url = "https://fi-sepolia-explorer.ether.fi/api", key = "5P1ZGHEFGJUN2N1T9NY6NVVDXQDJKPMD2Z" }
arbitrum_sepolia = { key = "${ARBISCAN_KEY}" }
